<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-image-container">
                <img src="../static/img/carrusel/3105e5a7-24a3-463f-9c8f-d40575f3d34c___2292b75b688f4ad046d4129f6f136335.webp" class="d-block w-100" alt="Imagen 1">
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image-container">
                <img src="../static/img/carrusel/bnd_home_banner-principal-valentia-preventa.jpg" class="d-block w-100" alt="Imagen 2">
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image-container">
                <img src="../static/img/carrusel/bnd_home_banner-principal_estuche_10-12b.jpg" class="d-block w-100" alt="Imagen 3">
            </div>
        </div>
        <div class="carousel-item">
            <div class="carousel-image-container">
                <img src="../static/img/carrusel/ecc1bec5-90df-422b-8168-327299726e2a___5c08971fa3fd99ae1bfa2e9bfd159897.webp" class="d-block w-100" alt="Imagen 4">
            </div>
        </div>
    </div>
</div>

<style>
    .carousel-item {
        height: 300px; 
    }

    .carousel-image-container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-item img {
        object-fit: contain; 
        max-height: 100%;
    }
</style>
