<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Empleado</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Dashboard de Empleado</h1>

    <!-- Datos generales comunes -->
    <div class="card my-3">
        <div class="card-header">Datos Generales</div>
        <div class="card-body">
            <p><strong>ID:</strong> {{ session['id'] }}</p>
            <p><strong>Nombre:</strong> {{ datos_generales.nombre_completo }}
            </p>
            <p><strong>Sucursal:</strong> {{ datos_generales.id_sucursal }}</p>
            <p><strong>Rol:</strong> {{ session['role'] }}</p>
        </div>
    </div>

    <!-- Contenido específico según el rol -->
    {% if session['role'] == 'gerente' %}
        <div class="card my-3">
            <div class="card-header">Sucursal Administrada</div>
            <div class="card-body">
                <p><strong>Nombre de la Sucursal:</strong> {{ datos_especificos.sucursal_nombre }}</p>
                <p><strong>Ubicación:</strong> {{ datos_especificos.sucursal_ubicacion }}</p>
            </div>
        </div>
    {% elif session['role'] == 'supervisor' %}
        <div class="card my-3">
            <div class="card-header">Empleados Supervisados</div>
            <div class="card-body">
                <ul>
                    {% for empleado in datos_especificos %}
                        <li>{{ empleado.vendedor_nombre }} (ID: {{ empleado.vendedor_id }})
                            (Meta mensual: {{ empleado.meta_mensual }})
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% elif session['role'] == 'vendedor' %}
        <div class="card my-3">
            <div class="card-header">Compras Asociadas</div>
            <div class="card-body">
                <ul>
                    {% for compra in datos_especificos %}
                        <li>Compra ID: {{ compra.compra_id }}, Fecha: {{ compra.fecha_compra }},
                            Cliente: {{ compra.cliente_nombre }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>