<footer class="bg-dark text-light pt-4">
    <!-- Primera fila con tres columnas -->
    <div class="container">
        <div class="row text-center text-md-start">
            <!-- Columna 1: Logotipo y descripción -->
            <div class="col-md-4 mb-4">
                <a href="#" class="text-decoration-none text-light">
                    <img src="../static/img/library-book-reading-abstract-icon-or-emblem-vector.jpg" alt="Logo" style="width: 100px;">
                    <h5 class="mt-2">Libreria UNSA</h5>
                </a>
                <p class="small mt-3">
                    <a href="#" class="text-light ">Para empleados</a>
                </p>
            </div>

            <div class="col-md-4 mb-4">
                <h6 class="fw-bold">Síguenos</h6>
                <p>Síguenos en nuestras redes sociales:</p>
                <a href="#" class="text-light mx-2"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#" class="text-light mx-2"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="#" class="text-light mx-2"><i class="fab fa-instagram fa-lg"></i></a>
                <a href="#" class="text-light mx-2"><i class="fab fa-linkedin fa-lg"></i></a>
            </div>
            <div class="col-md-4 mb-4">
                <a href="#" class="text-decoration-none text-light">
                    <img src="../static/img/libro_reclamaciones.png" alt="Logo" style="width: 100px;">
                    <h6 class="mt-2">Libro de reclamaciones</h6>
                </a>
            </div>
        </div>
    </div>

    <!-- Fila adicional con derechos de autor -->
    <div class="bg-secondary py-2">
        <div class="container text-center">
            <p class="mb-0 small">&copy; 2024 Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
